@model Depot.App.ViewModels.EstoqueViewModel

@{
    ViewData["Title"] = "Adicionar Estoque";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeEstoque" class="control-label"></label>
                <input asp-for="NomeEstoque" class="form-control" />
                <span asp-validation-for="NomeEstoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regiao" class="control-label"></label>
                <input asp-for="Regiao" class="form-control" />
                <span asp-validation-for="Regiao" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <partial name="_Endereco" />
            <div class="form-group row">
                <div class="col-md-4">
                    <input type="submit" value="Adicionar" class="btn btn-primary" />
                </div>
                <div class="col-md-4">
                    <a class="btn btn-info" asp-action="Index">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>



