<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Depot.App</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Depot.App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link dropdown-toggle text-dark"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Colaboradores" asp-action="Index">Colaboradores</a>
                                <a class="dropdown-item" href="#">Ação</a>
                                <a class="dropdown-item" href="#">Outra ação</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Algo mais aqui</a>
                            </li>*@

                        <li class="nav-item dropdown text-dark">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Colaboradores
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Colaboradores" asp-action="Index">Lista de Colaboradores</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Colaboradores" asp-action="Create">Adicionar Colaborador</a>
                                <div class="dropdown-divider"></div>
                                @*<a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Colaboradores" asp-action="Edit">Editar  Colaborador</a>*@
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Perfis" asp-action="Create">Adicionar Perfil Colaborador</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown text-dark">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Fornecedores
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Fornecedores" asp-action="Index">Lista de Fornecedores</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Fornecedores" asp-action="Create">Adicionar Fornecedor</a>

                            </div>
                        </li>

                        <li class="nav-item dropdown text-dark">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Produtos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Produtos" asp-action="Index">Lista de Produtos</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Produtos" asp-action="Create">Adicionar Produtos</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="GrupoProdutos" asp-action="Create">Grupo de Produtos</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>

                        <li class="nav-item dropdown text-dark">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Estoques
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Estoques" asp-action="Index">Lista de Estoques</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Estoques" asp-action="Create">Adicionar Estoque</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>

                        <li class="nav-item dropdown text-dark">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Historico
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Fornecedores" asp-action="Index">Historico dos Produtos</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Depot.App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
